.header-contact__list {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: $tablet) {
    margin-left: auto;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
  }
}

.header-contact__list > .header-contact__item:not(:first-child) {
  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    margin-top: 10px;
  }

  @media screen and (min-width: $desktop) {
    margin-left: 50px;
  }
}

.header-contact__link {
  display: flex;
  align-items: center;
  color: inherit;
  @extend %text-link;
  transition: color var(--animation);
}

.header-contact__icon {
  fill: currentColor;
  margin-right: 10px;
}
