.logo {
  margin-right: 93px;
  text-decoration: none;
  font-family: var(--font-logo);
  font-size: 26px;
  color: var(--accent-color);
}

.logo__label {
  color: #000000;
}

.footer__logo {
  display: inline-block;
  font-family: var(--font-logo);
  font-size: 26px;
  color: var(--accent-color);
  text-decoration: none;
  margin-bottom: 20px;
}

.footer__logo--color {
  color: var(--btn-color-text);
}
