.thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  bottom: 0;
  top: 0;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
}

.gallery__item:hover .overlay {
  transform: translateY(0);
  transition: transform var(--animation);
}

.overlay__text {
  font-size: 18px;
  line-height: 1.56;
  color: var(--btn-color-text);
}
