.footer {
  background-color: var(--brc-color);
  padding: 60px 0;
}

.footer__container {
  @media screen and (max-width: 1199px) {
    text-align: center;
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
